In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
a = pd.read_csv('C:/Users/a8809/Desktop/Big Data/project/US_births(2018)/US_births(2018).csv', chunksize=100000)
b = pd.read_csv('C:/Users/a8809/Desktop/Big Data/project/DiseaseType.csv', chunksize=100000)
c = pd.read_csv('C:/Users/a8809/Desktop/Big Data/project/APGAR_SCORE.csv', chunksize=100000)

In [4]:
df1 = pd.concat([chunk for chunk in a], axis=0)
df2 = pd.concat([chunk for chunk in b], axis=0)
df3 = pd.concat([chunk for chunk in c], axis=0)

C:\Users\a8809\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3248: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
df = df1.join(df2, lsuffix='_df1', rsuffix='_df2')

In [6]:
df = df.join(df3, lsuffix='_df', rsuffix='_df3')

In [7]:
del df1
del df2
del df3

In [8]:
df.columns

Index(['ATTEND', 'BFACIL', 'BMI', 'CIG_0', 'DBWT', 'DLMP_MM', 'DLMP_YY',
       'DMAR', 'DOB_MM', 'DOB_TT', 'DOB_WK', 'DOB_YY', 'DWgt_R', 'FAGECOMB',
       'FEDUC', 'FHISPX', 'FRACE15', 'FRACE31', 'FRACE6', 'ILLB_R', 'ILOP_R',
       'ILP_R', 'IMP_SEX', 'IP_GON', 'LD_INDL', 'MAGER', 'MAGE_IMPFLG',
       'MAR_IMP', 'MBSTATE_REC', 'MEDUC', 'MHISPX', 'MM_AICU', 'MRACE15',
       'MRACE31', 'MRACEIMP', 'MRAVE6', 'MTRAN', 'M_Ht_In', 'NO_INFEC',
       'NO_MMORB', 'NO_RISKS', 'PAY', 'PAY_REC', 'PRECARE', 'PREVIS',
       'PRIORDEAD', 'PRIORLIVE', 'PRIORTERM', 'PWgt_R', 'RDMETH_REC',
       'RESTATUS', 'RF_CESAR', 'RF_CESARN', 'SEX', 'WTGAIN', 'Unnamed: 0_df',
       'Unnamed: 0.1', '0_df', 'disease', 'Unnamed: 0_df3', '0_df3'],
      dtype='object')

In [9]:
df.head()

,ATTEND,BFACIL,BMI,CIG_0,DBWT,DLMP_MM,DLMP_YY,DMAR,DOB_MM,DOB_TT,...,RF_CESAR,RF_CESARN,SEX,WTGAIN,Unnamed: 0_df,Unnamed: 0.1,0_df,disease,Unnamed: 0_df3,0_df3
0,1,1,30.7,0,3657,4,2017,1,1,1227,...,N,0,M,41,0,0,NNNNNN111111NNNNNN1111111,0,0,9
1,1,1,33.3,2,3242,99,9999,2,1,1704,...,Y,2,F,0,1,1,NNNNNN111111NNNNNN1111111,0,1,8
2,1,1,30.0,0,3470,4,2017,1,1,336,...,N,0,M,58,2,2,NNNNNN111111NNNNNN1111111,0,2,9
3,3,1,23.7,0,3140,5,2017,2,1,938,...,N,0,F,0,3,3,NNNNNN111111NNNNNN1111111,0,3,9
4,1,1,35.5,0,2125,99,9999,1,1,830,...,N,0,M,0,4,4,NNNNNN111111NNNNNN1111111,0,4,9

In [10]:
df = df.drop(columns=['DLMP_YY', 'DOB_YY', 'FRACE15', 'FRACE31', 'IMP_SEX', 'LD_INDL', 'MAR_IMP', 'MRACE15',
                 'MRACE31', 'MRACEIMP', 'PAY', 'RF_CESAR', 'Unnamed: 0_df','Unnamed: 0.1', '0_df', 'Unnamed: 0_df3'])

In [11]:
df.head()

,ATTEND,BFACIL,BMI,CIG_0,DBWT,DLMP_MM,DMAR,DOB_MM,DOB_TT,DOB_WK,...,PRIORLIVE,PRIORTERM,PWgt_R,RDMETH_REC,RESTATUS,RF_CESARN,SEX,WTGAIN,disease,0_df3
0,1,1,30.7,0,3657,4,1,1,1227,2,...,1,2,190,1,2,0,M,41,0,9
1,1,1,33.3,2,3242,99,2,1,1704,2,...,2,0,188,4,2,2,F,0,0,8
2,1,1,30.0,0,3470,4,1,1,336,2,...,1,0,215,1,1,0,M,58,0,9
3,3,1,23.7,0,3140,5,2,1,938,2,...,2,0,138,1,2,0,F,0,0,9
4,1,1,35.5,0,2125,99,1,1,830,3,...,1,4,220,3,1,0,M,0,0,9

In [24]:
df = df.rename(columns={"disease": "ANOMALY", "0_df3": "APGAR"})

In [13]:
df = df[df.ATTEND != 9]
df = df[df.BFACIL != 9]
df = df[df.BMI != 99]
df = df[df.CIG_0 != 99]
df = df[df.DBWT != 9999]
df = df[df.DLMP_MM != 99]

In [23]:
df.head()

,ATTEND,BFACIL,BMI,CIG_0,DBWT,DLMP_MM,DMAR,DOB_MM,DOB_TT,DOB_WK,...,PRIORLIVE,PRIORTERM,PWgt_R,RDMETH_REC,RESTATUS,RF_CESARN,SEX,WTGAIN,disease,0_df3
0,1,1,30.7,0,3657,4,1,1,1227,2,...,1,2,190,1,2,0,M,41,0,9
3,3,1,23.7,0,3140,5,2,1,938,2,...,2,0,138,1,2,0,F,0,0,9
5,4,2,31.3,0,4082,3,1,1,28,2,...,1,0,200,1,1,0,F,47,0,9
6,1,1,23.0,0,3180,3,1,1,341,3,...,2,0,160,1,1,0,F,10,0,9
7,1,1,28.2,0,3230,3,1,1,1615,4,...,0,0,180,3,1,0,F,29,0,9

In [18]:
df = df[df.DOB_TT != 9999]
df = df[df.DWgt_R != 999]
df = df[df.FAGECOMB != 99]
df = df[df.FEDUC != 9]
df = df[df.FHISPX != 9]

In [19]:
df = df[df.FRACE6 != 9]
df = df[df.ILLB_R != 999]
df = df[df.ILOP_R != 999]
df = df[df.ILP_R != 999]
df = df[df.IP_GON != 'U']
df = df[df.MEDUC != 9]

In [20]:
df = df[df.MHISPX != 9]
df = df[df.MM_AICU != 'U']
df = df[df.MTRAN != 'U']
df = df[df.M_Ht_In != 99]
df = df[df.NO_INFEC != 9]
df = df[df.NO_MMORB != 9]

In [21]:
df = df[df.NO_RISKS != 9]
df = df[df.PAY_REC != 9]
df = df[df.PRECARE != 99]
df = df[df.PREVIS != 99]
df = df[df.PRIORDEAD != 99]
df = df[df.PRIORLIVE != 99]

In [25]:
df = df[df.PRIORTERM != 99]
df = df[df.PWgt_R != 999]
df = df[df.RDMETH_REC != 9]
df = df[df.RF_CESARN != 99]
df = df[df.WTGAIN != 99]
df = df[df.APGAR != 99]

In [26]:
len(df)

2484255

In [27]:
df.columns

Index(['ATTEND', 'BFACIL', 'BMI', 'CIG_0', 'DBWT', 'DLMP_MM', 'DMAR', 'DOB_MM',
       'DOB_TT', 'DOB_WK', 'DWgt_R', 'FAGECOMB', 'FEDUC', 'FHISPX', 'FRACE6',
       'ILLB_R', 'ILOP_R', 'ILP_R', 'IP_GON', 'MAGER', 'MAGE_IMPFLG',
       'MBSTATE_REC', 'MEDUC', 'MHISPX', 'MM_AICU', 'MRAVE6', 'MTRAN',
       'M_Ht_In', 'NO_INFEC', 'NO_MMORB', 'NO_RISKS', 'PAY_REC', 'PRECARE',
       'PREVIS', 'PRIORDEAD', 'PRIORLIVE', 'PRIORTERM', 'PWgt_R', 'RDMETH_REC',
       'RESTATUS', 'RF_CESARN', 'SEX', 'WTGAIN', 'ANOMALY', 'APGAR'],
      dtype='object')

In [30]:
df.to_csv("C:/Users/a8809/Desktop/Big Data/project/US_births2018_processed.csv")

In [31]:
df_test = df.iloc[:100000]

In [33]:
df_test.to_csv("C:/Users/a8809/Desktop/Big Data/project/US_births2018_test.csv")